@import "main.css"
/*===========================================================================

	Estilos para Drombit.

	Colores: Negro  = #18191C
			 blanco = #f4f4f4
			 azul   = #57C3C9

===========================================================================*/

/* ======= Variables y Fuentes ============================================*/
azul = #383759 
claro = #e5e6ff
twitter = #5acdf5
instagram = #4b6f97
spotify = #9fd954
drombit = #53c2c9

@import url(http://fonts.googleapis.com/css?family=Raleway:400,800,300,200);

/*==========================================================================

			Configuración base

==========================================================================*/

*
	/* Cambiando el modelo de caja. 
	Para más información visitar:http://css-tricks.com/box-sizing/*/
	-moz-box-sizing border-box
	-webkit-box-sizing border-box
	box-sizing border-box


/* ===============================================
	Usando Responsiv.GS: http://responsive.gs/ …
	Base para el sitio responsivo
=================================================*/

.container
	/*Contenedor principal*/
	max-width 85%
	margin 0 auto

.row:after, .col:after, .clr:after, .group:after
	/* Equivalente a el metodo clearfix, para 
	solucionar el problema de un float dentro de un contendor*/ 
	content "" 
	display block 
	height 0 
	clear both 
	visibility hidden

.row 
	margin-bottom: 1.5em  
											  
.col
	display block
	float left
	width 100%

@media ( min-width : 768px ) 
	.col 
		margin-left 2%
	
/* RESET MARGINS */
.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/* Comportamiento de las columnas arriba de 768px */
@media ( min-width : 1024px ) {
	.container{
		/*Contenedor principal*/
		max-width 1024px
	}
	.span_1 { width: 6.5%; }
	.span_2 { width: 15.0%; }
	.span_3 { width: 23.5%; }
	.span_4 { width: 32.0%; }
	.span_5 { width: 40.5%; }
	.span_6 { width: 49.0%; }
	.span_7 { width: 57.5%; }
	.span_8 { width: 66.0%; }
	.span_9 { width: 74.5%; }
	.span_10 { width: 83.0%; }
	.span_11 { width: 91.5%; }
	.span_12 { width: 100%; }
}


/*==========================================================================

			Clases Principales

==========================================================================*/

body
	font-size 1em/1.6
	font-family 'Raleway', sans-serif
	background azul


h1
	font-size 5em
	color #fff
	margin 0.67em 0em 0em 0em

h2
	font-size 3em
	margin 0em 0em 1em 0em
	color claro
p 	
	font-weight 300
	letter-spacing 1px

.fl_left
	float left 

.fl_right
	float right

.hidden
	display none

.button,.button-mobile 
	width 92%
	height 56px
	border-radius 30px 
	line-height 56px
	color white
	text-decoration none
	display block
	opacity 0
	padding-left 30px

&:active
	color white


/*==========================================================================

			Estilos de los elementos del sitio

==========================================================================*/
#wrapper
	padding 108px 0px
	#inner-wrapper
		text-align center
		overflow hidden

		#logo 
			opacity 0

		h1,h2 
			text-align center
			opacity 0
		
		ul 
			border-top 1px solid #202033;
			box-shadow 0px -1px 0px 0px rgba(255,255,255,0.06);
			padding 30px 0px 0px 0px

			li
				position relative
				opacity 0

				img 
					position absolute
					top 13px
					left 100px
					z-index 100

				.twitter
					background twitter

				.instagram
					background instagram
					
				.spotify
					background spotify
				
				.drombit
					background drombit

		.mobil 
			display none

		 

/*==========================================================================

			Media Queries

==========================================================================*/


/**************************************************
 Esrtilos para resolucines de hasta 480px: iPhone
 *************************************************/
@media only screen and (max-width: 480px)
	
	#wrapper
		#inner-wrapper
			#logo 
				width 150px
			h1 
				font-size 2.5em
			h2
				font-size 1.5em
			.mobil
				display block
				li 
					padding-bottom 20px 

					.ico-social-mobile 
						position absolute
						top 12px
						left 18%
						width 32px
						z-index 100

					.button-mobile
						opacity 1
						width 100%
						
				
			.web 
				display none



/**************************************************
 Esrtilos para resolucines 481px has 768px
 *************************************************/

@media only screen and (min-width: 481px) and (max-width: 768px)
	#wrapper
		#inner-wrapper
			h1
				font-size 4.5em
			.mobil
				display block

				li 
					margin-bottom 20px

					.ico-social-mobile 
						position absolute
						top 12px
						left 32%
						width 32px
						z-index 100

					.button-mobile
						opacity 1
						font-size 1em
						width 50%
						margin 0 auto				
			.web 
				display none



/**************************************************
 Esrtilos para resolucines de 769px hasta 1024px
 *************************************************/

@media only screen and (min-width: 769px) and (max-width: 1024px)
	.span_3 { width: 23.5%; }

	#wrapper
		#inner-wrapper
			h1
				font-size 4.5em
			.mobil
				display block

				.ico-social-mobile 
					position absolute
					top 17px
					left 10%
					width 24px
					z-index 100

				.button-mobile
					opacity 1
					font-size .9em
				
			.web 
				display none
	


