@import "main.css";
/*===========================================================================

	Estilos para Drombit.

	Colores: Negro  = #18191C
			 blanco = #f4f4f4
			 azul   = #57C3C9

===========================================================================*/
/* ======= Variables y Fuentes ============================================*/
@import url("http://fonts.googleapis.com/css?family=Raleway:400,800,300,200");
/*==========================================================================

			Configuración base

==========================================================================*/
* {
/* Cambiando el modelo de caja. 
	Para más información visitar:http://css-tricks.com/box-sizing/*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* ===============================================
	Usando Responsiv.GS: http://responsive.gs/ …
	Base para el sitio responsivo
=================================================*/
.container {
/*Contenedor principal*/
  max-width: 85%;
  margin: 0 auto;
}
.row:after,
.col:after,
.clr:after,
.group:after {
/* Equivalente a el metodo clearfix, para 
	solucionar el problema de un float dentro de un contendor*/
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.row {
  margin-bottom: 1.5em;
}
.col {
  display: block;
  float: left;
  width: 100%;
}
@media ( min-width : 768px ) {
  .col {
    margin-left: 2%;
  }
}
/* RESET MARGINS */
.col:first-child {
  margin-left: 0;
}
/* all browsers except IE6 and lower */
/* Comportamiento de las columnas arriba de 768px */
@media ( min-width : 1024px ) {
  .container {
/*Contenedor principal*/
    max-width: 1024px;
  }
  .span_1 {
    width: 6.5%;
  }
  .span_2 {
    width: 15%;
  }
  .span_3 {
    width: 23.5%;
  }
  .span_4 {
    width: 32%;
  }
  .span_5 {
    width: 40.5%;
  }
  .span_6 {
    width: 49%;
  }
  .span_7 {
    width: 57.5%;
  }
  .span_8 {
    width: 66%;
  }
  .span_9 {
    width: 74.5%;
  }
  .span_10 {
    width: 83%;
  }
  .span_11 {
    width: 91.5%;
  }
  .span_12 {
    width: 100%;
  }
}
/*==========================================================================

			Clases Principales

==========================================================================*/
body {
  font-size: 1em/1.6;
  font-family: 'Raleway', sans-serif;
  background: #383759;
}
h1 {
  font-size: 5em;
  color: #fff;
  margin: 0.67em 0em 0em 0em;
}
h2 {
  font-size: 3em;
  margin: 0em 0em 1em 0em;
  color: #e5e6ff;
}
p {
  font-weight: 300;
  letter-spacing: 1px;
}
.fl_left {
  float: left;
}
.fl_right {
  float: right;
}
.hidden {
  display: none;
}
.button,
.button-mobile {
  width: 92%;
  height: 56px;
  border-radius: 30px;
  line-height: 56px;
  color: #fff;
  text-decoration: none;
  display: block;
  opacity: 0;
  padding-left: 30px;
}
&:active {
  color: #fff;
}
/*==========================================================================

			Estilos de los elementos del sitio

==========================================================================*/
#wrapper {
  padding: 108px 0px;
}
#wrapper #inner-wrapper {
  text-align: center;
  overflow: hidden;
}
#wrapper #inner-wrapper #logo {
  opacity: 0;
}
#wrapper #inner-wrapper h1,
#wrapper #inner-wrapper h2 {
  text-align: center;
  opacity: 0;
}
#wrapper #inner-wrapper ul {
  border-top: 1px solid #202033;
  box-shadow: 0px -1px 0px 0px rgba(255,255,255,0.06);
  padding: 30px 0px 0px 0px;
}
#wrapper #inner-wrapper ul li {
  position: relative;
  opacity: 0;
}
#wrapper #inner-wrapper ul li img {
  position: absolute;
  top: 13px;
  left: 100px;
  z-index: 100;
}
#wrapper #inner-wrapper ul li .twitter {
  background: #5acdf5;
}
#wrapper #inner-wrapper ul li .instagram {
  background: #4b6f97;
}
#wrapper #inner-wrapper ul li .spotify {
  background: #9fd954;
}
#wrapper #inner-wrapper ul li .drombit {
  background: #53c2c9;
}
#wrapper #inner-wrapper .mobil {
  display: none;
}
/*==========================================================================

			Media Queries

==========================================================================*/
/**************************************************
 Esrtilos para resolucines de hasta 480px: iPhone
 *************************************************/
@media only screen and (max-width: 480px) {
  #wrapper #inner-wrapper #logo {
    width: 150px;
  }
  #wrapper #inner-wrapper h1 {
    font-size: 2.5em;
  }
  #wrapper #inner-wrapper h2 {
    font-size: 1.5em;
  }
  #wrapper #inner-wrapper .mobil {
    display: block;
  }
  #wrapper #inner-wrapper .mobil li {
    padding-bottom: 20px;
  }
  #wrapper #inner-wrapper .mobil li .ico-social-mobile {
    position: absolute;
    top: 12px;
    left: 18%;
    width: 32px;
    z-index: 100;
  }
  #wrapper #inner-wrapper .mobil li .button-mobile {
    opacity: 1;
    width: 100%;
  }
  #wrapper #inner-wrapper .web {
    display: none;
  }
}
/**************************************************
 Esrtilos para resolucines 481px has 768px
 *************************************************/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  #wrapper #inner-wrapper h1 {
    font-size: 4.5em;
  }
  #wrapper #inner-wrapper .mobil {
    display: block;
  }
  #wrapper #inner-wrapper .mobil li {
    margin-bottom: 20px;
  }
  #wrapper #inner-wrapper .mobil li .ico-social-mobile {
    position: absolute;
    top: 12px;
    left: 32%;
    width: 32px;
    z-index: 100;
  }
  #wrapper #inner-wrapper .mobil li .button-mobile {
    opacity: 1;
    font-size: 1em;
    width: 50%;
    margin: 0 auto;
  }
  #wrapper #inner-wrapper .web {
    display: none;
  }
}
/**************************************************
 Esrtilos para resolucines de 769px hasta 1024px
 *************************************************/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .span_3 {
    width: 23.5%;
  }
  #wrapper #inner-wrapper h1 {
    font-size: 4.5em;
  }
  #wrapper #inner-wrapper .mobil {
    display: block;
  }
  #wrapper #inner-wrapper .mobil .ico-social-mobile {
    position: absolute;
    top: 17px;
    left: 10%;
    width: 24px;
    z-index: 100;
  }
  #wrapper #inner-wrapper .mobil .button-mobile {
    opacity: 1;
    font-size: 0.9em;
  }
  #wrapper #inner-wrapper .web {
    display: none;
  }
}
